extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/error.css')

block content
  div.error-background
    div.wrapper.error-wrapper
      h1.danger-text Oops! Something went wrong.
      a.button(href="/") Return Home
