extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/error.css')

block content
  div.error-background
    div.wrapper.error-wrapper
      h2.danger-text Oops! Something went wrong.
      h1= message
      h2= error.status
      pre #{error.stack}
      a.button(href="/") Return Home
