extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/forms.css')

block content
  div.form-background
    div.form-wrapper
      h1= title
      
      if error
        .error-message
          p= error

      form#projectForm(action=formAction method="POST" enctype="multipart/form-data")
        div.input-field.select-field
          input#images(type='file' name='images' multiple accept='image/*')
        
        button#submitButton.button.svg-button(type="submit")
          span.button-text Upload Images
          span.spinner-border.spinner-border-sm.d-none(role='status' aria-hidden='true')

      if message
        .success-message
          p= message

  script.
    document.getElementById('projectForm').addEventListener('submit', function(event) {
      const submitButton = document.getElementById('submitButton');
      const buttonText = submitButton.querySelector('.button-text');
      const spinner = submitButton.querySelector('.spinner-border');

      // Disable the button and show the spinner
      submitButton.disabled = true;
      buttonText.textContent = 'One moment...';
      spinner.classList.remove('d-none');
    });

    window.addEventListener('pageshow', function(event) {
      const buttonText = document.getElementById('button-text');
      const spinner = document.getElementById('spinner-border');

      // Restore the button text and hide the spinner
      buttonText.classList.remove('d-none') // Set this to whatever the original text was
      spinner.classList.add('d-none');
    });