extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/homepage.css')

block content
  .homepage-background
    .wrapper.homepage-wrapper
      if currentUser 
        h1 Welcome, #{currentUser.name.split(' ')[0]}!
        if currentUser && projectId
          a.button(href=`/users/${currentUser._id}/project/${projectId}`) View Project
        else if currentUser.isAdmin 
          a(href="/users/").button View Clients 
        else
          p.secondary-text Nothing to see here yet!
      else
        h1 Welcome! 
        a.button(href="/auth/sign-in") Sign In