extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/homepage.css')

block content
  div.homepage-background
    div.wrapper.homepage-wrapper
      if currentUser 
        h1 Welcome, #{currentUser.name.split(' ')[0]}!
        if currentUser && projectId
          a#viewProject.button(href=`/users/${currentUser._id}/project/${projectId}`)
            span#button-text View Project
            span#spinner-border.spinner-border.spinner-border-sm.d-none(role='status' aria-hidden='true')
        else if currentUser.isAdmin 
          a(href="/users/").button View Clients 
        else
          p.secondary-text Nothing to see here yet!
      else
        h1 Welcome! 
        a.button(href="/auth/sign-in") Sign In
  script.
    document.getElementById('viewProject').addEventListener('click', function(event) {
      const buttonText = document.getElementById('button-text');
      const spinner = document.getElementById('spinner-border');

      // Disable the button and show the spinner
      buttonText.textContent = '';
      spinner.classList.remove('d-none');
    });