doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    block stylesheets
  body
    header.main-header
      .header-content
        .logo
          img(src="/images/OSC Emblem.png", alt="Logo")
        nav.main-nav
          ul
            li
              if currentUser
                a.header-button(href="/auth/sign-out") Sign Out
              else
                a.header-button(href="/auth/sign-in") Sign In
    main
      block content
