extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/forms.css')

block content
  div.form-background 
    div.project-form-wrapper
      h1= title
      form#projectForm(method='POST' action=formAction enctype='multipart/form-data')
        div.input-field
          input#address(type='text' name='address' required value=(project && project.address))
          label(for='address') Address:
        div.input-field
          input#phaseName(type='text' name='phaseName' required value=(project && project.phaseName))
          label(for='address') Phase Name:
        div.input-field
          input#currentPhase(type='number' name='currentPhase' min='1' max='100' value=(project ? project.currentPhase : 1) required)
          label(for='currentPhase') Completion Rate:
        
        div.input-field.select-field
          label.sr-only(for='type') Project Type:
          select#type.form-select(name='type' required)
            option(value='') Select Type
            option(value='Residential' selected=(project && project.type === 'Residential')) Residential
            option(value='Commercial' selected=(project && project.type === 'Commercial')) Commercial

        button#submitButton.button.project-form-button(type='submit')
          span.button-text= title
          span.spinner-border.spinner-border-sm.d-none(role='status' aria-hidden='true')

      if errors
        ul.errors
          each error in errors
            li.error-item= error.msg
  script.
    document.getElementById('projectForm').addEventListener('submit', function(event) {
      const submitButton = document.getElementById('submitButton');
      const buttonText = submitButton.querySelector('.button-text');
      const spinner = submitButton.querySelector('.spinner-border');

      // Disable the button and show the spinner
      submitButton.disabled = true;
      buttonText.classList.add('d-none');
      spinner.classList.remove('d-none');
    });

    window.addEventListener('pageshow', function(event) {
      const buttonText = document.getElementById('button-text');
      const spinner = document.getElementById('spinner-border');

      // Restore the button text and hide the spinner
      buttonText.classList.remove('d-none') // Set this to whatever the original text was
      spinner.classList.add('d-none');
    });