extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/userDelete.css')

block content
  div.client-delete-background
    div.wrapper
      h1 #{user.name}

      p Are you sure you want to delete this client?

      form(method="POST" action=`/users/${user._id}/delete`)
        div.actions
          input(type="hidden" name="_method" value="DELETE")
          button.button.delete-button.confirm-delete(type="submit" name="confirmDelete" value=user._id) Confirm Delete
          a.button(href="/users") Cancel

      if message
        p.error-message= message