extends layout 

block stylesheets
  link(rel='stylesheet', href='/stylesheets/userList.css')

block content 
  div.list-background
    div.list-wrapper
      h1 #{title}

      if userList === undefined
        p.user-list-li No client found!
      else
        ul
          each user in userList
            li
              a(href=`/users/${user._id}`) #{user.name}

      a.list-button(href='/auth/sign-up') New Client