form {
  display: flex;
  flex-direction: column;
}

.form-background {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: var(--spacing-xs);
}

.form-background::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--common-background-image), var(--color-background);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  z-index: -1;
}

.sign-in-form-background {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: var(--spacing-xs);
}

.sign-in-form-background::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/Gigi\ Hammer\ Swing\ Black\ and\ White\ \(1\).png'),
    rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  z-index: -1;
}

.form-wrapper {
  width: 400px;
  border-radius: var(--border-radius);
  padding: var(--spacing-lg);
  text-align: center;
  border: var(--border-width) solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.sign-up-form-wrapper {
  color: var(--color-primary);
  width: 400px;
  border-radius: var(--border-radius);
  padding: var(--spacing-lg);
  text-align: center;
  border: var(--border-width) solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  margin-top: 80px; /* Adjust this value based on your header height */
  margin-bottom: 20px;
}

.form-wrapper.update-form-wrapper {
  width: 80%;
  max-width: 800px;
}

.project-form-button {
  margin-top: var(--spacing-lg);
}

.project-form-wrapper {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  border-radius: var(--border-radius);
  padding: var(--spacing-lg);
  text-align: center;
  border: var(--border-width) solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.form-wrapper a {
  color: var(--color-text-secondary);
  text-decoration: none;
}

.form-wrapper a:hover {
  text-decoration: underline;
}

.input-field {
  position: relative;
  border-bottom: 2px solid var(--color-secondary);
  margin: var(--spacing-md) 0;
}

.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: var(--color-primary);
  font-size: var(--font-size-base);
  pointer-events: none;
  transition: 0.15s ease;
}

.textarea-input-field {
  width: 100%;
  max-width: 100%;
  position: relative;
  border-bottom: 2px solid var(--color-secondary);
  margin: var(--spacing-md) 0;
}

.update-textarea {
  width: 100%; /* Matches the parent width */
  min-height: 150px; /* Set a minimum height for better usability */
  max-height: 515px; /* Prevents it from becoming too tall */
  font-size: 1rem; /* Ensures text is readable */
  resize: vertical; /* Allows users to resize only vertically */
  box-sizing: border-box; /* Includes padding in width/height calculations */
  border-radius: var(--border-radius);
  border: var(--border-width) solid rgba(0, 0, 0, 0.2);
}

.textarea-input-field label {
  display: block;
  position: absolute;
  top: var(--spacing-lg);
  left: 0;
  transform: translateY(-50%);
  color: var(--color-primary);
  font-size: var(--font-size-base);
  pointer-events: none;
  transform: translateY(-220%);
  transition: 0.15s ease;
}

.input-field input,
.textarea-input-field textarea {
  width: 100%;
  height: var(--input-height);
  background: transparent;
  border: none;
  outline: none;
  font-size: var(--font-size-base);
  color: var(--color-primary);
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
  font-size: 0.8rem;
  top: var(--spacing-xs);
  transform: translateY(-120%);
}

.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: var(--color-primary);
}

#remember {
  accent-color: var(--color-primary);
}
.forget label {
  display: flex;
  align-items: center;
}
.forget label p {
  margin-left: 8px;
}

.register {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

.input-field.select-field {
  border: transparent;
}

.image-container {
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create three columns */
  gap: 8px;
  width: 100%;
}

.second-image-container {
  position: relative;
  width: 100%;
  height: 100px;
}

.images-label {
  color: var(--color-primary);
  text-align: left;
  font-size: 1rem;
  margin-top: -18px;
  margin-bottom: -1px;
}

.second-image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  pointer-events: none;
}

.project-image {
  width: 100%; /* Make images fill their grid cell */
  height: 100px;
}

.delete-image-checkbox {
  position: absolute;
  transform: translate(-58px, 45px) scale(2);
  cursor: pointer;
}

.accordion > * {
  background-color: transparent;
}

.accordion-button {
  margin-bottom: var(--spacing-lg);
  margin-top: 9px;
  padding: 10px;
}

.accordion-button:focus {
  background-color: var(--color-primary);
  box-shadow: var(--color-brand);
}

.accordion-body {
  padding: 0;
}

@media (max-width: 480px) {
  .form-wrapper,
  .project-form-wrapper,
  .form-wrapper.update-form-wrapper {
    width: 100%;
  }

  .update-textarea {
    min-height: 100px;
  }

  .sign-in-form-background::before {
    background-position: 25%;
  }
}
