@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap');

:root {
  /* Colors */
  --color-primary: #eeeeee; /* White */
  --color-brand: #ff9500;
  --color-secondary: #ccc; /* Light gray */
  --color-text-primary: #000; /* Black */
  --color-text-secondary: #efefef; /* Light gray text */
  --color-accent: #fff; /* White (for checkbox accent) */
  --color-background: rgba(0, 0, 0, 0.4); /* Black overlay */
  --color-danger: rgb(217, 0, 0);

  /* Spacing */
  --spacing-xxs: 5px;
  --spacing-xs: 10px;
  --spacing-sm: 15px;
  --spacing-md: 20px;
  --spacing-lg: 30px;
  --spacing-xl: 35px;

  /* Sizing */
  --border-width: 1px;
  --border-radius: 8px;
  --input-height: 40px;
  --font-size-base: 16px;
  --font-size-md: 24px;

  /* Padding */
  --padding-xs: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  min-height: 100vh;
  overflow-y: auto;
  position: relative;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: var(--spacing-xs);
}

.background::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../images/background-4.png'),
    var(--color-background);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

a:hover {
  color: var(--color-primary);
}

h1,
h2 {
  font-size: 2rem;
  margin-bottom: var(--spacing-xs);
  color: var(--color-primary);
}

a,
.link {
  text-decoration: none;
  transition: color 0.3s ease;
  color: var(--color-brand);
}

li a {
  text-decoration: underline;
}

.button {
  color: var(--color-text-primary);
  background: var(--color-primary);
  font-weight: 600;
  border: none;
  padding: var(--spacing-sm) var(--spacing-md);
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: var(--font-size-base);
  border: 2px solid transparent;
  transition: 0.3s ease;
  margin: var(--spacing-xs) 0;
  text-align: center;
}

.button:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
  background: rgba(255, 255, 255, 0.15);
}

.button-secondary {
  color: var(--color-primary);
  background: rgba(255, 255, 255, 0.25);
  font-weight: 600;
  border: none;
  padding: var(--spacing-sm) var(--spacing-md);
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: var(--font-size-base);
  border: 2px solid transparent;
  transition: 0.3s ease;
  margin: var(--spacing-xs) 0;
  text-align: center;
}

.button-secondary:hover {
  color: var(--color-text-primary);
  background: var(--color-primary);
}

.image-delete:hover {
  background-color: rgb(253, 80, 80);
}

.button-tertiary {
  background-color: var(--color-brand);
}

.delete-button {
  background-color: var(--color-danger);
  color: var(--color-primary);
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding: 0;
  margin: 0;
}

li,
.user-list.li {
  display: flex;
  color: var(--color-brand);
  justify-content: center;
  font-weight: 600;
}

.error-message {
  margin-top: var(--spacing-xs);
  color: var(--color-danger);
}

/* Main content area */
main {
  /* Adjust based on your header height */
  min-height: 100vh; /* Ensures content area takes up at least full viewport height */
}

.wrapper {
  color: var(--color-primary);
  width: 400px;
  border-radius: var(--border-radius);
  padding: var(--spacing-lg);
  border: var(--border-width) solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.secondary-text {
  color: var(--color-secondary);
}

.medium-text {
  font-size: var(--font-size-md);
}

.actions {
  display: flex;
  flex-direction: column;
}

.svg-button {
  margin: var(--spacing-sm) 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xxs);
}

.text-left {
  text-align: left;
}

.subtitle {
  font-weight: 600;
  margin-top: -8px;
}

.danger-text {
  color: var(--color-danger);
}

.main-title-font {
  font-size: 2.5rem;
}

.file-button {
  padding-left: 8px !important;
  padding-right: 8px !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  margin-left: var(--spacing-xs);
  border-radius: 50% !important;
}

.main-header-button {
  padding: 8px var(--spacing-xs);
}

.text-wrap {
  word-wrap: break-word;
  text-decoration: underline;
  overflow-wrap: break-word;
}

@media (max-width: 480px) {
  .wrapper {
    width: 100%;
  }

  .main-header-button {
    padding: 4px 8px;
  }

  .main-title-font {
    font-size: 2rem;
  }
}
