/* Header styles */
.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0); /* Transparent white */
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0 auto;
}

.logo img {
  height: 60px; /* Adjust based on your logo size */
}

.main-nav ul {
  display: flex;
  list-style: none;
}

.main-nav li {
  margin-left: var(--spacing-md);
}

.main-nav a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: bold;
  transition: color 0.3s ease;
}

.main-nav a:hover {
  color: #ffa200;
}
