.detail-background {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  padding: var(--spacing-xs);
  text-align: center;
}

.detail-background::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('../images/background-4.png'),
    var(--color-background);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

.detail-wrapper {
  color: var(--color-primary);
  width: 400px;
  border-radius: var(--border-radius);
  padding: var(--spacing-lg);
  border: var(--border-width) solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.actions {
  display: flex;
  gap: var(--spacing-xs);
  flex-direction: column;
}

.detail-button {
  background: var(--color-primary);
  color: var(--color-text-primary);
  font-weight: 600;
  border: none;
  padding: var(--spacing-sm) var(--spacing-md);
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: var(--font-size-base);
  border: 2px solid transparent;
  transition: 0.3s ease;
  margin: var(--spacing-sm) 0;
}

.detail-button:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
  background: rgba(255, 255, 255, 0.15);
}

.delete-button {
  background-color: var(--color-danger);
  color: var(--color-primary);
}
